aiogram
aiohttp
aiosignal
asgiref
async-timeout
attrs
Babel
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
python-dotenv==0.19.1
pytz
sqlparse==0.4.2
typing-extensions==3.10.0.2
yarl==1.7.0
psycopg2
requests